<div class="row mx-auto">




<ul class="list-group">
  <li class="list-group-item" *ngFor="let event of eventlist">
    {{event.id}} --{{event.name}}
    <button (click)="deleteItemFromList(event.id)">Remove</button>

  </li>


</ul>


</div>


<p>
  maxId = {{getNextId()}}
</p>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  <input type="text" class="form-control" placeholder="Add an element" aria-label="Username" aria-describedby="basic-addon1"
  #addItemValue>

  <button type="button" class="btn btn-primary"
  (click)="addItemToList(addItemValue)"
  >Primary</button>

</div>
