<div class="row mx-auto">




<ul class="list-group">
  <li class="list-group-item" *ngFor="let event of eventlist">
    {{event.id}}
    <img src="{{event.pic}}" width="100" >

  {{event.name}}
    <button class="btn-danger"
            (click)="deleteItemFromList(event.id)">
      Törlés
    </button>
    <button class="btn-danger"
            (click)="editSelectedItem(event.id)">
      Szerkesztés
    </button>
  </li>


</ul>


</div>


<div class="container col-3">
<form>
  <h3>Új esemény létrehozása</h3>
  <div class="form-group">
    <label >Új esemény neve</label>
    <input #addEventNameValue type="text" class="form-control" placeholder="Új esemény neve">
    <small  class="form-text text-muted">Add meg kérlek az esemény nevét egy új létrehozásához</small>
  </div>
  <div class="form-group">
    <label >Kép URL</label>
    <input #addPicUrlValue type="text" class="form-control" id="exampleInputPassword1" placeholder="Kép URL címe">
  </div>

  <button (click)="addItemToList(addEventNameValue,addPicUrlValue)" type="submit" class="btn btn-primary">Mentés</button>
</form>
</div>
