
<app-jumbotron>
  <h1 class="jumbotron-heading">Album example</h1>
  <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
  <p>
    <a href="#" class="btn btn-primary my-2">Main call to action</a>
    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
  </p>
</app-jumbotron>

<div class="container">
<div class="row py-5">
  <app-examplecard class="col-md-4"
  *ngFor="let example of examplelistFromService"
   [example]="example"
  ></app-examplecard>

</div>
</div>
